$light_dark : #262F34;
$dark : #171b1d;
$red : #F34A4A;
$cream : #F1D3BC;

html,body{
    position: relative;
    background: $light_dark;
    height: 100%;
}
.row{
    --bs-gutter-x: 0;
}
#row{
    min-height: calc(100vh - 45.5px - 88px);// !!! if footer and header height change than we need to change them here too
}

.red{
    background: $red;
}
.test-block{
    background: yellow;
    width: 100%;
    height: 20px;

}
//change size
@media screen and (max-width: 1140px) {
    .side-rank {
        display: none;
    }
}
//end change size

//nav

    .head{
        font-size: 25px;
        font-weight: bold;
        color: $cream;
    }
    .nav-link{
        color: $cream;
        padding: .0rem 1rem;
    }
    .nav-link:hover{
        color: $light_dark;
    }
//end nav

//side-rank
    .side-rank{
        background: $dark;
    }


//end side-rank

//bottom
    footer{
        background-color: black;
        width: 100%;
        ul{
            margin-bottom: 0;
        }

    }

//end bottom


