$bg_main : #262F34;
$red : #F34A4A;
$pink : #f1d3bc;
$text : $pink;


// tmp 
.logo
{
    width: 50px;
    height: 50px;
    border: 1px $pink solid;
    margin-left: 20px;
    transition: 0.2s;
}
.logo:hover
{
    border: 2px $red solid;

}
.row
{
    --bs-gutter-x: 0;
}
body
{
    background: $bg_main;
    color: $text;
}
a.nav-link
{
    color: $pink;
}
a.nav-link:hover
{
    color: $red;
}
header.bor-bottom
{
    border-bottom: 1px solid $pink;

}
//end tmp
hr
{
    color: white;
}

.center 
{
    margin: auto;
    
}
.registration-form
{
    color: black;
    min-width: 250px;
    width: 20vw;
    background: $pink;
    text-align: center;
    //border: 1px $red solid;

    // -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    // -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    // box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
h1
{
color: $red;
}
form input
{
    border-radius: 20px;
    border: 2px $red solid;
}
.submit-butt
{
    background: $red ;
    margin-bottom: 20px;
    
}
.text-left
{
    text-align: left;
}