.logo {
  width: 50px;
  height: 50px;
  border: 1px #f1d3bc solid;
  margin-left: 20px;
  transition: 0.2s;
}

.logo:hover {
  border: 2px #F34A4A solid;
}

.row {
  --bs-gutter-x: 0;
}

body {
  background: #262F34;
  color: #f1d3bc;
}

a.nav-link {
  color: #f1d3bc;
}

a.nav-link:hover {
  color: #F34A4A;
}

header.bor-bottom {
  border-bottom: 1px solid #f1d3bc;
}

hr {
  color: white;
}

.center {
  margin: auto;
}

.registration-form {
  color: black;
  min-width: 250px;
  width: 20vw;
  background: #f1d3bc;
  text-align: center;
}

h1 {
  color: #F34A4A;
}

form input {
  border-radius: 20px;
  border: 2px #F34A4A solid;
}

.submit-butt {
  background: #F34A4A;
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

